@use 'src/styles/vars';

.main-container {
  width: 500px;
  margin: 1em auto;
  text-align: center;
  border: 1rem solid rgb(240, 197, 182);
  background-color: vars.$mainColor;
}

.head-title {
  padding: 2rem;
  font-weight: bold;
  font-size: 2rem;
  color: white;
}

.currency-input {
  margin-bottom: 2rem;
}

.dropdown-btns {
  margin: auto;
  display: flex;
  justify-content: space-evenly;
}

.result {
  margin: 2rem;
  padding: 0.5rem;
  border: 1px solid white ;
  background-color: #f1c5b6;
  color: vars.$mainColor;
}
